.Headline{
    font-family: "BBH Sans Hegarty", sans-serif;
    color: white;
    text-align: center; 
    background-color: rgb(2, 41, 89);
    box-shadow: 0px 8px 14px rgba(255, 255, 255, 0.545);
    margin-left: 25%;
    margin-right: 25%;
}
.navbar{
  background: linear-gradient(180deg, #0d6efd, #ffffff);
  height: 60px;
}
.navbar img{
  min-width: 120px;
  padding-right: 80px;    
}
.Information{
    font-family: "BBH Sans Hegarty", sans-serif;
    color: white;
    margin-top: 25px;
    background-color: rgb(6, 35, 69);
    box-shadow: 0px 8px 14px rgba(255, 255, 255, 0.545);
}
